@font-face {
  font-family: "PingFangSC-Medium";
  src: url("DIN-Medium.otf");
}

// @font-face {
//   font-family: "PingFangSC-Regular";
//   src: url("PingFangSC-Regular.ttf");
// }

@font-face {
  font-family: "Gotham-Medium";
  src: url("Gotham-Medium.otf");
}
