html {
  font-size: 16px; /* 默认情况下，1rem = 16px */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: var(--main-bg-color);
}
 
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: var(--main-text-color);
  overscroll-behavior-y: contain; /* 防止页面回弹行为影响 scroll */
}

#app {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
  position: relative;
  overscroll-behavior-y: contain; /* 防止页面回弹行为影响 scroll */
  color: var(--main-text-color);
}

*:focus-visible {
  outline: none;
}

div {
  box-sizing: border-box;
}

// 标题样式
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

// 正文样式
p,
span,
div {
  font-weight: 400;
}

// 强调文本
.text-bold {
  font-weight: 700 !important;
}

.normal-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100dvh; /* iOS 16+ */
  z-index: 2;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.normal-card {
  padding: 16px;
  margin: 16px 16px 0;
  background-color: var(--router-menu-bg-color);
  border-radius: 16px;
  overflow: hidden;
}

.van-tabbar-index {
  position: absolute !important;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #0f102b !important;
  .van-tabbar-item--active {
    background-color: #0f102b !important;
  }
}
